*,
*::before,
*::after{
    box-sizing: border-box;
}
ul{
    list-style: none;
}

body{
    font-family: "Noto Sans Thai Looped", sans-serif;

}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.title{
    font-size: 44px;
    font-weight: 800;
}

.header__top-inner{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background-color: #5FC5A0;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #040548;
    font-size: 16px;
}

.header_top{
    background-color: #5FC5A0;
        padding: 18px 0
}

.menu_list{
    display: flex;
    gap: 45px;
}

.menu__btn{
    display: none;
}

.menu_list_link{
    color: #040548;
    font-size: 16px;
    transition: all 0.3s
}

.menu_list_link:hover{
    border-bottom: 1px solid #FF972D;
}

.translate_EN{
    color: #040548;
    font-size: 20px;
}

.translate_UA{
    color: #04054879;
    font-size: 20px;
}

.phone{
    display: flex;
    align-items: center;
}

.phone_link{
    color: #040548;
    font-size: 20px;
}

.phone_img{
    width: 25px;
    height: 25px;
    color: #040548;
}
.menu_list-item,
.logo{
font-size: 16px;
line-height: 20px;
font-weight: 700;
letter-spacing: 0,2px;
}

.translate_EN,
.translate_UA,
.phone_link,
.translate-slash{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.2px;
    transition: all 0.3s
}

.translate_EN:hover,
.translate_UA:hover,
.phone_link:hover{
    border-bottom: 1px solid #FF972D;
}
.header_content{
    background-color: #040548;
    color: #FFFF;
    display: flex;
    min-height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_content_inner{
    display: flex;
    justify-content: space-between;

}
.header_content_text{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.header_title{
font-size: 44px;
line-height: 48px;
font-weight: 600;
margin-bottom: 36px;
letter-spacing: 0.2px;
}

.header_subtitle{
font-size: 32px;
line-height: 34px;
font-weight: 600;
}

.header_content-item{
font-size: 20px;
line-height: 28px;
font-weight: 600;
letter-spacing: 0.2px; 
text-transform: capitalize;
margin-bottom: 16px;
padding-left: 50px;
position: relative;
}
.header_content-item::before{
    content: "";
    background-image: url(../images/Header_mark.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 28px;
    height: 28px;
    transform: translateY(-50%);
}

.button{
    display: flex;
    width: 291px;
    height: 66px;
    border-radius: 50px;
    font-size: 32px;
    font-family:  "Noto Sans Thai Looped", sans-serif;
    justify-content: center;
    padding: 14px 7px 7px 7px;
    text-transform: uppercase;
    font-weight: 700;
}            

 .button-orange{
    background-color: #FF972D;
}
.header-image{
    padding: 0px 0px 100px;
}

 .button_green{ 
    color: white;
    background-color: #5FC5A0;
    margin-bottom: 40px;
    position: relative;
    /* width: 291px;
    height: 66px; */
    /* border-radius: 50px;
    font-size: 32px;
    font-family:  "Noto Sans Thai Looped", sans-serif;
    padding: 7px 7px 7px 7px; */
}

 .button_green::after{
    content: "";
    background-image: url(../images/Arrow.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    width: 40px;
    height: 40px;
    right: 25px;
    bottom: 7px;
    
}

.button_class{
    display: flex;
}
.arrow{
    width: 21px;
    height: 28px;
}

.about__all{
    display: flex;
    justify-content: space-around;
}

.about__left{
    max-width: 726px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__title{
    font-size: 44px;
    font-weight: bold;
    font-family:  "Noto Sans Thai Looped", sans-serif;
    margin-bottom: 40px;
    padding-top: 60px;
    position: relative;
    line-height: 60px;
}

.about__title::after,
.contact__title::after{
    content: "";
    height: 3px;
    width: 104px;
    background-color: #FF972D;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.about_offer-title{
    font-size: 32px;
    font-weight: bold;
    font-family:  "Noto Sans Thai Looped", sans-serif; 
    color: #FF972D;
}

.about__subtitle{
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 15px;
}

.about__subtititle-IT{
    color: #FF972D;
}
.about__subtititle-English{
    color: #5FC5A0;
}

.about__left-text{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 60px;
    line-height: 30px;
}

.about__offer-items{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.offer__item{
    margin-bottom: 50px;
}

.offer__item-title_1{
padding-left: 80px;
font-size: 24px;
margin-bottom: 10px;
}

.offer__item-text_1{
max-width: 243px;
padding-left: 80px;
font-size: 15px;
line-height: 17px;
}

.offer__item-title_1::before{
    content: "";
    background-image: url(../images/Flexible\ Schedule.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0%;
    width: 56px;
    height: 50px;
}

.offer__item-title_2{
padding-left: 80px;
font-size: 24px;
margin-bottom: 10px;
}

.offer__item-text_2{
max-width: 313px;
padding-left: 80px;
/* padding-bottom: 100px ; */
font-size: 15px;
line-height: 17px;
}

.offer__item2{
    position: relative;
}

.offer__item2::before{
    content: "";
    background-image: url(../images/Real\ communication.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 51px;
    height: 51px;
    left: 0;
}

.offer__item-title_3{
padding-left: 80px;
font-size: 24px;
max-width: 287px;
margin-bottom: 10px;
}

.offer__item-text_3{
max-width: 280px;
padding-left: 80px;
font-size: 15px;
line-height: 17px;
}

.offer__item-title_3::before{
    content: "";
    background-image: url(../images/Experienced\ Teachers.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 57px;
    height: 50px;
    left: 0%;
}

.offer__item-title_4{
padding-left: 80px;
font-size: 24px;
padding-right: 20px;
margin-bottom: 10px;
}


.offer__item-text_4{
max-width: 328px;
padding-left: 80px;
padding-right: 15px;
font-size: 15px;
line-height: 17px;
}

.offer__item4{
    position: relative;
}

.offer__item4::before{
    content: "";
    background-image: url(../images/Online\ &\ Offline.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 55px;
    height: 51px;
    left: 0;
}


.about__right{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../images/about-main.png);
    background-repeat: no-repeat;
    background-position: top center;
}


.about__right-text{
    font-size: 20px;
    max-width: 530px;
    margin-bottom: 34px;
    margin-top: 575px;
    line-height: 37px;
    font-weight: 700;
    text-align: center;
}

.Contact{
    padding: 50px 0 80px;
    background-color: #040548;
    color: #FFFF;
}

.contact__title{
    font-size: 48px;
    font-weight: bold;
    font-family: "Noto Sans Thai Looped", sans-serif;
    position: relative;
    line-height: 60px;
}

.contact__info{
    display: flex;
    justify-content: space-between;
}
.contact__phone{
    position: relative;
    padding-left: 40px;
}

.contact__phone::before{
    content: "";
    background-image: url(../images/contact/contact_phone.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    left: 0;
    width: 36px;
    height: 36px;
}

.contact__phone__title{
    font-size: 32px;
    font-weight: bold;
    font-family: "Noto Sans Thai Looped", sans-serif;
    margin-bottom: 10px;
}

.contact__phone_link{
    font-size: 24px;
    font-weight: bold;
    font-family: "Noto Sans Thai Looped", sans-serif;
    margin-bottom: 4px;
    line-height: 38px;
}

.contact__details{
    display: flex;
    flex-direction: column;
justify-content: space-evenly;
}

.contact__email{
    position: relative;
    padding-left: 45px;    
}

.contact__email::before{
    content: "";
    background-image: url(../images/contact/Contact_email.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    left: 0;
    width: 34px;
    height: 28px;
    top: 15px;
}

.contact__email__title{
    font-size: 32px;
    font-family: "Noto Sans Thai Looped", sans-serif ;
    font-weight: bold;
    line-height: 51px;
    margin-bottom: 15px;
}

.contact__adress__link{
    font-size: 20px;
    font-family: "Noto Sans Thai Looped", sans-serif ;
    font-weight: bold;
    max-width: 296px;
}

.contact__social{
    position: relative;
    padding-left: 45px;    
}

.contact__social::before{
    content: "";
    background-image: url(../images/contact/contact_social.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    left: 0;
    width: 37px;
    height: 37px;
}

.contact__social__title{
    font-size: 32px;
    font-weight: bold;
    font-family: "Noto Sans Thai Looped", sans-serif ;
    margin-bottom: 20px;
}

.Instagram{
    font-size: 20px;
    font-weight: 600;
    font-family: "Noto Sans Thai Looped", sans-serif;
    line-height: 24px;
}

.Instagram::before{
    content: "";
    background-image: url(../images/Instagram.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    left: 10px;
    width: 22px;
    height: 22px;
}

.Facebook{
    font-size: 20px;
    font-weight: 600;
    font-family: "Noto Sans Thai Looped", sans-serif;
    line-height: 24px;
}

.Facebook::before{
    content: "";
    background-image: url(../images/Facebook.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    left: 10px;
    width: 22px;
    height: 22px;
}

.Telegram{
    font-size: 20px;
    font-weight: 600;
    font-family: "Noto Sans Thai Looped", sans-serif;
    line-height: 24px;
}

.Telegram::before{
    content: "";
    background-image: url(../images/Telegram.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    left: 10px;
    width: 22px;
    height: 22px;
}

.conntact__address{
   position: relative;
    padding-left: 40px; 
}

.conntact__address::before{
    content: "";
    background-image: url(../images/contact/Contact_adress.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    left: 0;
    width: 27px;
    height: 39px;
}

.conntact__address__title{
    font-size: 32px;
    font-weight: bold;
    font-family: "Noto Sans Thai Looped", sans-serif;
    margin-bottom: 7px;
    line-height: 51px; 
}

.contact__adress__text{
    font-size: 24px;
    font-weight: bold;
    font-family: "Noto Sans Thai Looped", sans-serif;    
}

.contact__photo__text{
    font-size: 24px;
    font-weight: bold;
    font-family: "Noto Sans Thai Looped", sans-serif;
    padding-top: 9px; 
    padding-bottom: 32px; 
}

.button_contact{
    background-color: #FF972D;
    max-width: 436px;
    height: 66px;;
    display: flex;
    border-radius: 50px;
    font-size: 30px;
    font-family:  "Noto Sans Thai Looped", sans-serif;
    justify-content: space-around;
    padding: 14px 10px 7px 10px;
    text-transform: uppercase;
    font-weight: 700;
}

/* .button_contact::after{
    content: "";
    background-image: url(../images/Arrow.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    width: 50px;
    height: 50px;
    right: 24%;
} */

.footer{
    background-color: #040548;
}

.footer__logo{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background-color: #040548;    
}

.footer_bottom_inner{
    max-width: 1300px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.logo_footer{
    max-width: 250px;
}

.footer__logo{
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Noto Sans Thai Looped", sans-serif ;
    color: #FFFF;
    padding-top: 40px;
}
.footer__title{
    margin-left: 5px;
}

.social_media{
    max-width: 257px;
    font-size: 24px;
    line-height: 32px;
    font-family: "Noto Sans Thai Looped", sans-serif ;
    font-weight: bold;
    color: #FFFF; 
    position: relative;   
}

.company_info{
    max-width: 241px;
    font-size: 24px;
    line-height: 32px;
    font-family: "Noto Sans Thai Looped", sans-serif ;
    font-weight: bold;
    color: #FFFF;    
}

.contacs{
    max-width: 264px;
    font-size: 24px;
    line-height: 32px;
    font-family: "Noto Sans Thai Looped", sans-serif ;
    font-weight: bold;
    color: #FFFF;    
}

.footer_social_list-text{
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    padding-left: 30px;
}

.footer_social_list-item1::before{
    content: "";
    background-image: url(../images/Instagram.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    left: 0;
    width: 22px;
    height: 22px;
    margin-top: 10px;   
}

.footer_social_list-item2::before{
    content: "";
    background-image: url(../images/Facebook.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    left: 0;
    width: 22px;
    height: 22px; 
    margin-top: 10px;  
}

.footer_social_list-item3::before{
    content: "";
    background-image: url(../images/Telegram.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    left: 0;
    width: 22px;
    height: 22px; 
    margin-top: 10px;  
}

.footer_social_list-item4::before{
    content: "";
    background-image: url(../images/Viber.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    left: 0;
    width: 22px;
    height: 22px; 
    margin-top: 10px;  
}

.footer_menu_list-text{
    font-size: 14px;
    line-height: 16px;
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 700;
}

.footer_contacts_list-text{
    font-size: 14px;
    line-height: 24px;
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 700;
    margin-bottom: 4px;    
}

@media (max-width: 1000px) {
    .menu_list {
        display: none;
    }

    .menu__btn{
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }

    .about__right {
        background-image: none;
    }

    .about__all{
        flex-wrap: wrap;
    }

    .about__right-text{
    margin-top: 0px;
    }

    .about__offer-items{
    margin-top: 50px;
    margin-bottom: 10px;
}

.contact__info{
    flex-wrap: wrap;
}

.contact__img{
    display: none;
}



}

@media (max-width: 860px) {
    .header-image {
        display: none;
    } 
    
    .button__arrow{
    width: 35px;
    height: 35px;
    padding-bottom: 5px;
    padding-left: 5px;
}

    .button_contact{
    font-size: 25px;
    padding-top: 20px;
    }
}

@media (max-width: 600px) {

    .menu_list{
        display: block;
        background-color:#FF972D;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;
        padding-top: 100px;
        transform: translateY(-320%);
        transition: all .100s;
    }

    .header__top-inner.header__top-inner--active .menu_list{
        transform: translateY(0);
    }

    .menu_list-item{
        padding-bottom: 30px;
    }

    .logo{
        max-width: 100px;
        z-index: 5;
    }


    .menu__btn{
        padding-left: 30px;
        position: relative;
        z-index: 5;
    }

    .translate{
        position: relative;
        z-index: 5;
    }
    
    .phone_link {
        display: none;
    }
    
    .phone_img{
    display: none;
    }

    .header_title {
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 36px;
    }

    .about_offer-title{
    font-size: 24px;
    }

    .header_subtitle{
        font-size: 22px;
        line-height: 24px;
    }
    .header_content-item{
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 16px;
        padding-left: 50px;
    }

    .about__title{
    font-size: 34px;
    margin-bottom: 40px;
    line-height: 50px;      
    }

    .about__subtitle{
    font-size: 22px;
    padding-bottom: 15px;
    }

    .about__left-text{
    font-size: 14px;
    padding-bottom: 50px;
    line-height: 20px;    
    }

    .offer__item-title_1{
    font-size: 20px;  
    }

    .offer__item-title_2{
    font-size: 20px;  
    }

    .offer__item-title_3{
    font-size: 20px;  
    }

    .offer__item-title_4{
    font-size: 20px;  
    }

    .offer__item-text_1{
    font-size: 12px;
    line-height: 15px;     
    }

    .offer__item-text_2{
    font-size: 12px;
    line-height: 15px;     
    }

    .offer__item-text_3{
    font-size: 12px;
    line-height: 15px;     
    }

    .offer__item-text_4{
    font-size: 12px;
    line-height: 15px;     
    }

    .about__right-text{
    font-size: 15px;
    line-height: 27px;
    }



    .contact__title{
    font-size: 25px;
    line-height: 35px;

    }

    .contact__phone__title{
    font-size: 22px;
    }

    .contact__phone{
        margin-top: 50px;
    }

    .contact__phone_link{
    font-size: 20px;
    line-height: 28px;
    }

    .contact__email{
        margin-bottom: 15px;
    }

    .contact__email__title{
    font-size: 22px;
    line-height: 41px;
    }

    .contact__adress__link{
    font-size: 15px;
    }

    .contact__social__title{
    font-size: 22px;
    }

    .contact__phone::before{
    left: 6px;
    width: 30px;
    height: 30px;
    }


    .contact__email::before{
    width: 30px;
    height: 25px;
    left: 6px;
    }


    .contact__social::before{
    left: 6px;
    width: 30px;
    height: 30px;
    }


    .Instagram{
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 10px;
    }


    .Facebook{
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 10px;
    }

    .Telegram{
    font-size: 15px;
    line-height: 20px;
    }


    .conntact__address__title{
    font-size: 22px;
    line-height: 31px; 
}

.conntact__address::before{
    left: 6px;
    width: 25px;
    height: 35px;
}

.contact__social{
    margin-bottom: 15px;
}

.contact__adress__text{
    font-size: 20px;
}

.contact__photo__text{
    font-size: 20px;
}

.button__arrow{
    width: 30px;
    height: 30px;
}


}

@media (max-width: 500px) {
    .header_title {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 36px;
        text-align: center;
    }
    .header_subtitle{
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }
    .header_content-item{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 16px;
        padding-left: 50px;
    }

    .header_content_text{
        align-items: center;
        min-height: calc(100vh - 96px);
        justify-content: space-evenly;
    }

    .about__right{
        align-items: center;
    }

    .button_contact{
    font-size: 20px;
    padding: 20px 10px 0px 10px;
    }

    .contact__title{
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0.6px;
    margin-bottom: 15x;

    }

    .contact__adress__text{
    font-size: 15px;
    }

    .contact__photo__text{
        font-size: 18px;
        margin-top: 35px;
        margin-bottom: 20px;
        padding: 0 0 0 0;
    }
}


/* adaptive about */